.endpoint-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;

    #dropdown-new {
        font-size: small;
        width: 150px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        background-color: #2c4cff;
        border: solid 1px white;
        transition: 300ms;

        .dd-inside {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;

            svg{
                font-size: 22px;
            }
    
            span{
                padding-left: 5px;
            }
        }
    }

    #dropdown-new:hover{
        background-color: #1835d8;
        border: solid 1px white;
    }

    .option {
        all: unset;
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #ffffff00;
    transition: 300ms;
}

::-webkit-scrollbar-thumb {
    background: #4c657d;
    border-radius: 4px;
    border: solid 1px #444444;
}

::-webkit-scrollbar-thumb:hover {
    background: #4c657d;
    border: solid 1px #444444;
}

::-webkit-scrollbar-thumb:active {
    background: #617f9c;
    border: solid 1px #646464;
}

.endpoint-library {
    position: relative;
    z-index: 3;
    overflow: hidden;
    overflow-y: auto;
    max-height: 80vh;
    background-color: #444444;
    border: solid 1px #282828;
    border-radius: 5px;
    margin: 5px;
    box-shadow: inset 0px -10px 39px 15px rgba(54, 54, 54, 1);

    .library-node-item {
        background-color: transparent;
        border-radius: 5px;
        border: solid 1px #717171;
        border-bottom: solid 1px #717171;
        color: white;
        transition: 200ms;
        cursor: pointer;
        z-index: 1;

        .card-title {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: flex-start;
            align-items: center;

            a {
                all: unset;
                margin-left: 5px;
            }
        }

        .float-node-container {
            position: absolute;
            display: flex;
            transition: 300ms;
            top: 5px;
            right: 5px;
        }

        .float-node-btn {
            padding-inline: 5px;
            border-radius: 5px;

            span {
                margin-left: 5px;
                font-size: 14px;
            }
        }

        a {
            all: unset;
        }
    }

    .library-node-item:hover {
        background-color: #f0f8ff1a;
        border-radius: 3px;
        border: solid 1px white;

        .float-node-btn:hover {
            background-color: #ffffff24;
        }
    }

    .url-copy-container {
        .input-group {
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            width: 100%;
            flex-direction: row;
            align-content: center;
            justify-content: center;
        }

        .btn-copy-url {
            height: 30px;
            background-color: white;
            transition: 200ms;
        }

        .btn-copy-url:hover {
            background-color: #234260;
            color: white;
        }

        .url-input {
            font-size: 12px;
            margin: 0px;
            padding: 0px;
            height: 30px;
        }

    }


    .no-endpoints-msg {
        height: 200px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        color: #a7b7c6;
        transition: 500ms;
    }

    .no-endpoints-msg:hover {
        background-color: rgba(255, 255, 255, 0.015);
    }

}